<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # BLOQUEAR qualquer tentativa de acessar porta 2222
    RewriteCond %{SERVER_PORT} ^2222$ [OR]
    RewriteCond %{HTTP_HOST} :2222
    RewriteRule ^ - [F,L]
    
    # Regras normais
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.html [L]
</IfModule>